.container-league {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.item {
    padding: 10px;
    gap: 10px;
}

.item-text {
    font-size: 18px;
}

img {
    width: 18px;
    margin-right: 10px;
}
