/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    justify-content: flex-start;
    text-align: left;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    max-width: 960px;
    font-size: 36px;
    color: whitesmoke;
    margin: 0 35px;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3;
  }